body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}

/*
    nav-bar
 */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px -2px rgba(0,0,0,.2);
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 65%;
    letter-spacing: 3px;
    padding-right: 2rem;
}

.nav-links a {
    color: lightgray;
    text-decoration: none;
    transition: 0.8s;
}

.nav-links li {
    list-style: none;
}

nav ul li a:hover{
    color: rgb(69, 66, 66);
    transition: 0.8s;
}

.logo {
    color: #c2baba;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin-left: 2.5rem;
}

/*
login page
*/

.loginbox {
	width: 320px;
	height: 600px;
	background: #000;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px) ;
}

.logh1 {
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
	
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input {
	width: 100%;
	margin-bottom: 20px;
}

.loginbox input[type="username"], input[type="password"], input[type="mail"], input[type="date"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}

.loginbox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #fb2525;
	color: #fff;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox input[type="submit"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}

.loginbox a {
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}

.loginbox a:hover {
	color: #ffc107;
}

/*
Register page
*/

::-webkit-calendar-picker-indicator {
	background-color:#fff;
}